{{ define "main" }} default list work
<section class="uk-section uk-section-default">
  <div class="uk-container uk-text-center">
    <h1>our work</h1>
    <h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
      vestibulum, tortor eu facilisis viverra, urna ex pretium nisl, sit amet
      vehicula ex lorem nec dui. Interdum et malesuada fames ac ante ipsum
      primis in faucibus. Quisque viverra magna condimentum, ullamcorper metus
      ultrices, ultrices ligula.
    </h5>
    <div class="uk-child-width-1-3@m uk-margin-large-top" uk-grid>
      <div>
        <a href="/work/alaska-beardman/">
          <img src="/img/work/work-1.png" alt="" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="/img/work/work-2.png" alt="" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="/img/work/work-3.png" alt="" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="/img/work/work-4.png" alt="" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="/img/work/work-5.png" alt="" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="/img/work/work-6.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
