{{ define "main" }}
<section class="uk-section uk-section-default">
  <div class="uk-container">
    <h1 class="uk-text-center">{{ .Title }}</h1>
    <div uk-grid>
      <div>
        <img src="/img/work/beard-1.png" alt="" />
      </div>
      <div>
        <img src="/img/work/beard-2.png" alt="" width="320" height="320" />
      </div>
      <div>
        <img src="/img/work/beard-3.png" alt="" width="320" height="320" />
      </div>
      <div>
        <img src="/img/work/beard-4.png" alt="" width="320" height="320" />
      </div>
      <div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          beatae fugiat omnis amet, magni voluptatum necessitatibus dolores
          itaque impedit odit quibusdam ea! Officiis sunt, quos, harum iure
          consequatur, repellendus maxime commodi explicabo ad qui quaerat!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam animi ex
          rem nostrum laborum incidunt quia harum, eaque repudiandae dignissimos
          neque perferendis a blanditiis alias vitae consequatur ratione vero
          facilis odit minima quos laboriosam! Veritatis consequuntur dolor
          deleniti quos voluptate sequi sunt alias error fuga ab, dolorem
          voluptatibus eum saepe provident natus molestias? Asperiores adipisci
          commodi blanditiis quae magni expedita dicta labore modi unde, nam
          obcaecati reiciendis. Dolorem deserunt esse recusandae totam
          perspiciatis minima animi.
        </p>
      </div>
      <div>
        <img src="/img/work/beard-5.png" alt="" width="480" height="auto" />
      </div>
      <div>
        <img src="/img/work/beard-6.png" alt="" width="480" height="auto" />
      </div>
      <div>
        <img src="/img/work/beard-7.png" alt="" />
      </div>
    </div>
  </div>
</section>
{{ end }}
