<section class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-child-width-1-4@m" uk-grid>
      <div>logo rawkids</div>
      <div>
        <p>
          234 Sesame Street, Sumbersari, Jember - Jawa Timur Indonesia 68132
        </p>
      </div>
      <div>
        <a class="uk-button uk-button-secondary uk-border-rounded" href="#"
          >commision & inquiries</a
        >
      </div>
      <div>icon social</div>
    </div>
  </div>
</section>
<section class="uk-section uk-section-xsmall uk-section-secondary">
  <div class="uk-container uk-text-center">
    <p>&copy rawkids studio 2023</p>
  </div>
</section>
