<section class="uk-section uk-section-secondary uk-padding-remove-vertical">
  <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
      <div class="uk-navbar-center">
        <div class="uk-navbar-center-left">
          <ul class="uk-navbar-nav">
            {{ range .Site.Pages }}
            <a href="{{ .RelPermalink }}"> {{ .Title }} </a>
            {{ end }} {{ $currentPage := . }} {{ range .Site.Menus.main }}
            <li class="">
              <a href="{{ .URL }}"> {{ .Name }} </a>
            </li>
            <!-- <li class="uk-active"><a href="#">Active</a></li>
                          <li>
                              <a href="#">Parent</a>
                              <div class="uk-navbar-dropdown">
                                  <ul class="uk-nav uk-navbar-dropdown-nav">
                                      <li class="uk-active"><a href="#">Active</a></li>
                                      <li><a href="#">Item</a></li>
                                      <li><a href="#">Item</a></li>
                                  </ul>
                              </div>
                          </li> -->
            {{ end }}
          </ul>
        </div>
        <a class="uk-navbar-item uk-logo" href="#">Logo</a>
        <div class="uk-navbar-center-right">
          <ul class="uk-navbar-nav">
            <li><a href="#">Item</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</section>
