{{ define "main" }}

<section class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-child-width-1-1@m" uk-grid>
      <div>
        <h1>brand design & creative agency</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          vestibulum, tortor eu facilisis viverra, urna ex pretium nisl, sit
          amet vehicula ex lorem nec dui. Interdum et malesuada fames ac ante
          ipsum primis in faucibus. Quisque viverra magna condimentum,
          ullamcorper metus ultrices, ultrices ligula.
        </p>
      </div>
    </div>
    <div uk-grid>
      <div>
        <img src="img/index/1.png" alt="" />
      </div>
      <div>
        <img src="img/index/2.png" alt="" />
      </div>
      <div>
        <img src="img/index/3.png" alt="" />
      </div>
    </div>
  </div>
</section>

{{ end }}
